
<div class="list-group">
  <h4 class="list-group-item-heading"><%= @task.title %></h4>
  <p class="list-group-item-text"><%= @task.details %></p>
</div>

<p class="list-group-item-text"><%= link_to "Edit task", edit_task_path %></p>
